<aside id="sidebar" class="offcanvas offcanvas-end offcanvas-lg" tabindex="-1" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header d-lg-none">
        <h5 class="offcanvas-title" id="sidebarLabel">القائمة</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="إغلاق"></button>
    </div>

    <div class="offcanvas-body sidebar-body">
        <div class="menu-section">
            <ul class="menu-list sidebar-dropdown">
                <li class="menu-item" data-page="dashboard.html"><a href="dashboard.html"><i class="fa-solid fa-list"></i><span>لوحة التحكم</span></a></li>
                <li class="menu-item" data-page="appointments.html"><a href="appointments.html"><i class="fa-solid fa-calendar"></i><span>مواعيدي التدريبية</span></a></li>

                <!-- Dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <span>قائمة التعلم</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="clients-orders.html">اختيار 1</a></li>
                        <li><a class="dropdown-item" href="companies-orders.html">اختيار 2</a></li>
                        <li><a class="dropdown-item" href="trainers-orders.html">اختيار 3</a></li>
                    </ul>
                </li>

                <li class="menu-item" data-page="certificates.html"><a href="certificates.html"><i class="fa-solid fa-certificate"></i><span>الشهادات</span></a></li>
                <li class="menu-item" data-page="my-orders.html"><a href="my-orders.html"><i class="fa-solid fa-bookmark"></i><span>طلباتي</span></a></li>
                <li class="menu-item" data-page="favoraite-profile.html"><a href="favoraite-profile.html"><i class="fa-solid fa-heart"></i><span>قائمة المفضلات</span></a></li>
                <li class="menu-item" data-page="cart.html"><a href="cart.html"><i class="fa-solid fa-bag-shopping"></i><span>عربة التسوق</span></a></li>
                <li class="menu-item" data-page="settings.html"><a href="settings.html"><i class="fa-solid fa-gear"></i><span>إعدادات الحساب</span></a></li>
                <li class="menu-item" data-page="logout"><a href="logout.html"><i class="fa-solid fa-door-closed"></i><span>تسجيل خروج</span></a></li>
            </ul>
        </div>
    </div>
</aside>
